@font-face {
  font-family: 'iconfont';  /* Project id 2649771 */
  src: url('//at.alicdn.com/t/font_2649771_evwzqidv27i.woff2?t=1625381815280') format('woff2'),
       url('//at.alicdn.com/t/font_2649771_evwzqidv27i.woff?t=1625381815280') format('woff'),
       url('//at.alicdn.com/t/font_2649771_evwzqidv27i.ttf?t=1625381815280') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


